<mat-card>
    <mat-card-title>
        Title
    </mat-card-title>
    <mat-card-content>
        Please, select one class:
    </mat-card-content>
    <mat-select [(ngModel)]="myclass" placeholder="Choose the Class:" name="myclass">
        <mat-option value="myclasse1">Class 1</mat-option>
        <mat-option value="myclasse2">Class 2</mat-option>
        <mat-option value="myclasse3">Class 3</mat-option>
        <mat-option value="myclasse4">Class 4</mat-option>
    </mat-select>
        <p>Result</p>
        <p [ngClass]="myclass">TEST</p>
    <mat-card-footer>
        Footer
    </mat-card-footer>
</mat-card>